{%- for node in nodes if node.name == inventory_hostname %}
version 16.6
service timestamps debug datetime msec
service timestamps log datetime msec
platform qfp utilization monitor load 80
no platform punt-keepalive disable-kernel-core
platform console serial
!
hostname {{ node.name }}
!
boot-start-marker
boot-end-marker
!
no aaa new-model
!
ip vrf MGMT
 rd 64999:1
 route-target export 64999:1
 route-target import 64999:1
!
no ip domain lookup
!
subscriber templating
!
multilink bundle-name authenticated
!
diagnostic bootup level minimal
spanning-tree extend system-id
archive
 path flash:/backups/
 write-memory
!
username admin privilege 15 secret 5 $1$FdY9$OzuwknijN7xOGEe3NiP.y/
!
redundancy
!
interface Loopback0
 ip address {{ node.loopback.ip }} 255.255.255.255
 ip ospf {{ node.loopback.ospf.id }} area {{ node.loopback.ospf.area }}
!
{% for interface in node.interfaces %}
interface {{ interface.name }}
{% if interface.state == 'active' %}
 no shutdown
 description {{ interface.description }}
{%if 'management' in interface.description %}
 ip vrf forwarding MGMT
{% endif %}
 ip address {{ interface.ip|ipaddr('address') }} {{ interface.ip|ipaddr('netmask') }}
{% if interface.ospf is defined %}
 ip ospf {{ interface.ospf.id }} area {{ interface.ospf.area }}
{% endif %}
{% else %}
 shutdown
{% endif %}
!
{% endfor %}
!
router ospf {{ node.loopback.ospf.id }}
{% if node.provider %}
 mpls ldp autoconfig
{% endif %}
!
!
{% if node.asn is defined %}
router bgp {{ node.asn }}
 bgp log-neighbor-changes
{% for bgp in node.bgp %}
 neighbor {{ bgp.ip }} remote-as {{ bgp.asn }}
 neighbor {{ bgp.ip }} update-source Loopback0
{% endfor %}
 !
 address-family vpnv4
{% for bgp in node.bgp %}
 neighbor {{ bgp.ip }} activate
 neighbor {{ bgp.ip }} send-community extended
{% endfor %}
 exit-address-family
 !
{% endif %}
!
virtual-service csr_mgmt
!
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip route vrf MGMT 10.0.10.0 255.255.255.0 10.0.10.1
!
ip scp server enable
!
snmp-server community public RO
snmp-server community private RW
!
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 stopbits 1
line vty 0 2
 login local
 length 0
line vty 3 4
 login local
line vty 5 15
 login local
!
wsma agent exec
!
wsma agent config
!
wsma agent filesys
!
wsma agent notify
!
!
end
{% endfor %}