---
# All the nodes in the network

nodes:

{% for node in nodes %}

  {{ node.name }}:
    mgmt: {{ node.mgmt }}
{##}{% set asn = 0 %}
{##}{% set vpns = [] %}
{##}{% set lo_ospf_id = 1 %}
    bgp:
{##}{% for bgp in mpbgp -%}
{##}{##}{% if bgp.left == node.name %}
{##}{##}{##}{% set asn = bgp.left_asn %}
      - { neighbor: {{ bgp.right }}, ip: {{ bgp.right_ip }}, asn: {{ bgp.right_asn }} }
{##}{##}{% elif bgp.right == node.name %}
{##}{##}{##}{% set asn = bgp.right_asn %}
      - { neighbor: {{ bgp.left }}, ip: {{ bgp.left_ip }}, asn: {{ bgp.left_asn }} }
{##}{##}{% endif %}
{##}{%- endfor %}
{##}{% if asn > 0 %}
    asn: {{ asn }}
{##}{% endif %}
    interfaces:
{##}{% set to_node = "" %}
{##}{% for pair in fabric -%} 
{##}{##}{% if pair.left == node.name or pair.right == node.name %}
{##}{##}{##}{% if pair.left == node.name %}
      - name: {{ pair.left_port }}
        description: To {{ pair.right }};{{ pair.right_port }}
        ip: {{ linknet.fabric_linknets[loop.index0]|ipaddr('1') }}
{##}{##}{##}{##}{% set to_node = pair.right %}
{##}{##}{##}{% else %}
      - name: {{ pair.right_port }}
        description: To {{ pair.left }};{{ pair.left_port }}
        ip: {{ linknet.fabric_linknets[loop.index0]|ipaddr('2') }}
{##}{##}{##}{##}{% set to_node = pair.left %}
{##}{##}{##}{% endif %}
{##}{##}{##}{% if pair.left in isp_nodes and pair.right in isp_nodes %}
        ospf: {id: 1, area: 0}
{##}{##}{##}{% else  %}
{##}{##}{##}{##}{% for vpn in VPNV4 -%}
{##}{##}{##}{##}{##}{% for key,value in vpn.nodes.items() -%}
{##}{##}{##}{##}{##}{##}{% if node.name in isp_nodes and value == node.name and key == to_node %}
        ospf: {id: {{ vpn.ospfid }}, area: 0}
        vrf: {{ vpn.name }}
{##}{##}{##}{##}{##}{##}{##}{% do vpns.append({'name': vpn.name, 'rd': vpn.rd, 'ospf': {'id': vpn.ospfid, 'area': 0}}) %}
{##}{##}{##}{##}{##}{##}{% elif key == node.name %}
        ospf: {id: {{ vpn.ospfid }}, area: 0}
{##}{##}{##}{##}{##}{##}{##}{% set lo_ospf_id = vpn.ospfid %}
--->>> {{ lo_ospf_id }}
{##}{##}{##}{##}{##}{##}{% endif %}
{##}{##}{##}{##}{##}{%- endfor %}
{##}{##}{##}{##}{%- endfor %}
{##}{##}{##}{%- endif %}
{##}{##}{% endif %}
{##}{%- endfor %}
--->>> {{ lo_ospf_id }}
{##}{% if vpns|length > 0 %}
    vpn:
{##}{##}{% for vpn in vpns %}
      - name: {{ vpn['name'] }}
        rd: {{ vpn['rd'] }}
        ospf: {{ vpn['ospf'] }}
{##}{##}{% endfor %}
{##}{% endif %}
--->>> {{ lo_ospf_id }}
    loopback: { ip:{{ node.loopback }}, ospf: { id: {% if node.name in isp_nodes %}1{% else %}{{ lo_ospf_id }}{% endif %}, area: 0}}
    provider: {% if node.name in isp_nodes %}True{% else %}False{% endif %}
{% endfor %}