---
# List of available ipv4 networks that we can pull linknets(/30) from.
# Could put this in a separate place that we can import from, and export
# revised networks to after we have taken needed networks.
linknet:
  size: {{ linknet.size }}
  fabric_linknets:
{% set linknets = [] %}
{% for subnet in linknet.available_subnets %}
{##}{% for i in range(subnet|ipsubnet(linknet.size)|int) %}
{##}{##}{% if linknets|length < fabric|length %}
{##}{##}{##}{% do linknets.append(subnet|ipsubnet(linknet.size,i)) %}
    - {{ subnet|ipsubnet(linknet.size,i) }}
{##}{##}{% endif %}
{##}{% endfor %}
{% endfor %}
~
available_subnets:
{% for subnet in linknet.available_subnets %}
{##}{% set new_subnets = subnet|subtract_subnet(linknets) %}
{##}{% for new_subnet in new_subnets %}
    - {{ new_subnet }}
{##}{% endfor %}
{% endfor %}