active_vrfs:
{% for host in ansible_play_hosts %}
{##}{% for vrf in hostvars[host]['active_vrf'] if vrf.name != 'MGMT' %}
{##}{##}{% if loop.index == 1 %}
  - {{ hostvars[host].inventory_hostname }}:
{##}{##}{% endif %}
    name: {{ vrf.name }}
    def_rd: {{ vrf.def_rd }}
    interfaces: {{ vrf.interfaces }}
{##}{##}{% for node in nodes if node.name == hostvars[host].inventory_hostname %}
{##}{##}{% set vpn_match = [] %}
{##}{##}{##}{% for vpn in node.vpn %}
{##}{##}{##}{##}{% if vpn.name != vrf.name %}
{% do vpn_match.append(true) %}
{##}{##}{##}{##}{% endif %}
{##}{##}{##}{% endfor %}
    surprise: {% if vpn_match|length > 0 %}true{% else %}false{% endif %}
{##}{##}{% endfor %}
{##}{% endfor %}
{% endfor %}