---
# List of available ipv4 networks that we can pull linknets(/30) from.
# Could put this in a separate place that we can import from, and export
# revised networks to after we have taken needed networks.
linknet:
  # Size of linknets
  size: {{ linknet.size }}
  # List of linknets generated, will add/remove addresses if fabric is updated
  fabric_linknets:
{% set linknets = linknet.fabric_linknets[:fabric|length] if linknet.fabric_linknets != None else [] %}
{% set leftover = linknet.fabric_linknets[fabric|length:] if linknet.fabric_linknets != None else [] %}
{% set subnets = linknet.available_subnets if linknet.available_subnets != None else [] %}
{% for existing in linknets %}
    - {{ existing }}
{% endfor %}
{% for subnet in subnets %}
{##}{% for i in range(subnet|ipsubnet(linknet.size)|int) %}
{##}{##}{% if linknets|length < fabric|length %}
{##}{##}{##}{% do linknets.append(subnet|ipsubnet(linknet.size,i)) %}
    - {{ subnet|ipsubnet(linknet.size,i) }}
{##}{##}{% endif %}
{##}{% endfor %}
{% endfor %}
  # List of available subnets to pull linknets from
  available_subnets:
{% for subnet in subnets if subnets|length > 0 %}
{##}{% set new_subnets = (subnet|subtract_subnet(linknets)|list + leftover|list)|cidr_merge %}
{##}{% for new_subnet in new_subnets %}
    - {{ new_subnet }}
{##}{% endfor %}
{% endfor %}