---
# Node specific config

{% for node in nodes %}

# {{ node.name }}

hostname {{ node.name }}


## Interface config

interface Loopback0
 ip address {{ node.loopback.ip }} 255.255.255.255
 ip ospf {{ node.loopback.ospf.id }} area {{ node.loopback.ospf.area }}
!
{% for interface in node.interfaces %}
interface {{ interface.name }}
 description {{ interface.description }}
{##}{% if interface.vrf is defined %}
 ip vrf forwarding {{ interface.vrf }}
{##}{% endif %}
 ip address {{ interface.ip|ipaddr('address') }} {{ interface.ip|ipaddr('netmask') }}
 ip ospf {{ interface.ospf.id }} area {{ interface.ospf.area }}
!
{% endfor %}


## Router config

router ospf {{ node.loopback.ospf.id }}
{% if node.provider %}
 mpls ldp autoconfig
{% endif %}
!
{% if node.vpn is defined %}
    {% for vpn in node.vpn %}
router ospf {{ vpn.ospf.id }} vrf {{ vpn.name }}
 redistribute bgp {{ node.asn }} subnets
!
    {% endfor %}
{% endif %}

{% if node.asn is defined %}
router bgp {{ node.asn }}
 bgp log-neighbor-changes
{% for bgp in node.bgp %}
 neighbor {{ bgp.ip }} remote-as {{ bgp.asn }}
 neighbor {{ bgp.ip }} update-source Loopback0
{% endfor %}
 !
 address-family vpnv4
{% for bgp in node.bgp %}
 neighbor {{ bgp.ip }} activate
 neighbor {{ bgp.ip }} send-community extended
{% endfor %}
 exit-address-family
 !
{% for vpn in node.vpn %}
 address-family ipv4 vrf {{ vpn.name }}
  redistribute ospf {{ vpn.ospf.id }}
 exit-address-family
 !
{% endfor %}
{% endif %}
!
{% if node.vpn is defined %}


## VRF config

{% for vpn in node.vpn %}
ip vrf {{ vpn.name }}
 rd: {{ vpn.rd }}
 route-target export {{ vpn.rd }}
 route-target import {{ vpn.rd }}
{% endfor %}
{% endif %}

!!!!
{% endfor %}