{% for subnet in linknet.available_subnets %}
    {{ subnet }} gives {{ subnet|ipsubnet(linknet.size) }} /{{ linknet.size }} subnets
{% endfor %}
~
{% set linknets = [] %}
{% for subnet in linknet.available_subnets %}
{% for i in range(subnet|ipsubnet(linknet.size)) %}
{% if linknets|length < fabric|length %}
{% do linknets.append(subnet|ipsubnet(linknet.size|int,i)) %}
- {{ subnet|ipsubnet(linknet.size|int,i) }}
{% endif %}
{% endfor %}
{% endfor %}