<html>
<head>
<style>
table {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}
</style>
</head>
<body>
<h2>Validation Report for {{ inventory_hostname }}</h2>

The following tests are run: 

<h3>get_facts</h3>
Checks that all the interfaces are present and that the correct hostname is configured.

Result: <span style="color: {{ 'green' if report.compliance_report.get_facts.complies == 'True' else 'red' }}" >{{ report.compliance_report.get_facts.complies }}</span>

Details: 
{{ report.compliance_report.get_facts.present.interface_list.complies }}
{{ report.compliance_report.get_facts.present.hostname.complies }}





get_interfaces_ip
get_facts

Ping devices with same OSPF id (1 - PE2)
Ping devices with same OSPF id (1 - P1)
get_bgp_neighbors

</body>
</html>



