<html>
<body>
<h1>Validation Report for {{ inventory_hostname }}</h1>

The following tests are run: 

<h2>get_facts</h2>
<p>Checks that all the interfaces are present and that the correct hostname is configured.</p>

<p><b>Result</b>: <span style="color: {{ 'green' if report.compliance_report.get_facts.complies|bool 
else 'red' }}" >{{ report.compliance_report.get_facts.complies }}</span></p>

<h3>Details:</h3> 
<p>Interface list: <span style="color: {{ 'green' if report.compliance_report.get_facts.present.interface_list.complies|bool 
else 'red' }}" >{{ report.compliance_report.get_facts.present.interface_list.complies }}</span></p>
<p>Hostname: <span style="color: {{ 'green' if report.compliance_report.get_facts.present.hostname.complies|bool 
else 'red' }}" >{{ report.compliance_report.get_facts.present.hostname.complies }}</span></p>

<h2>get_interfaces_ip</h2>
<p>Checks that all interfaces have been configured with correct IP addresses.</p>

<p><b>Result</b>: <span style="color: {{ 'green' if report.compliance_report.get_interfaces_ip.complies|bool 
else 'red' }}" >{{ report.compliance_report.get_interfaces_ip.complies }}</span></p>

<h3>Details:</h3>
{% for item in report.compliance_report.get_interfaces_ip.present %}
<p>{{ item }}: <span style="color: {{ 'green' if report.compliance_report.get_interfaces_ip.present[item].complies|bool 
else 'red' }}" >{{ report.compliance_report.get_interfaces_ip.present[item].complies }}</span></p>
{% endfor %}

{% if report.compliance_report.get_bgp_neighbors is defined %}
<h2>get_bgp_neighbors</h2>
<p>Checks that all BGP neighbors are present.</p>

<p><b>Result</b>: <span style="color: {{ 'green' if report.compliance_report.get_bgp_neighbors.complies|bool 
else 'red' }}" >{{ report.compliance_report.get_bgp_neighbors.complies }}</span></p>
{% endif %}

<h2>Ping devices with same OSPF id</h2>
Pings all the other devices in the same OSPF area (ie all other devices in the same VPN, or ISP devices.)
{% for ping in report.compliance_report if "ping" in ping|lower %}

<p><b>{{ ping }}</b>: <span style="color: {{ 'green' if report.compliance_report[ping].complies|bool 
else 'red' }}" >{{ report.compliance_report[ping].complies }}</span></p>
{% endfor %}

</body>
</html>



