{%- for node in nodes if node.name == inventory_hostname %}
---
- get_facts:
    interface_list:
      _mode: strict
      list:
{%-  for interface in node.interfaces %}      
        - {{ interface.name }}
{%   endfor %}
        - Loopback0
    hostname: {{ node.name }}

{%   if 'PE' in node.name %}
- get_bgp_neighbors:
    global:
      router_id: {{ node.loopback.ip}}
      peers:
        _mode: strict
{%     for neigh in node.bgp %}
        {{ neigh.ip }}:
          is_enabled: true
          is_up: true
          remote_id: {{ neigh.ip }}
          remote_as: {{ neigh.asn }}
          local_as: {{ node.asn }}
{%     endfor %}
{%   endif %}

- get_interfaces_ip:
{%   for interface in node.interfaces if interface.state == 'active' %}
    {{ interface.name }}:
      ipv4:
        {{ interface.ip|ipaddr('address') }}:
          prefix_length: {{ interface.ip|ipaddr('prefix') }}
{%   endfor %}
    Loopback0:
      ipv4:
        {{ node.loopback.ip }}:
          prefix_length: 32

{%   for n in nodes if n.loopback.ospf.id == node.loopback.ospf.id and node.name != n.name %}
- ping:
    _name: ping_{{ n.name }}
    _kwargs:
      destination: {{ n.loopback.ip }}
      source: {{ node.loopback.ip }}
    success:
      packet_loss: 0
    _mode: strict

{%   endfor %}
{% endfor %}