<html>
<head>
<style>
table {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}
</style>
</head>
<body>
<h2>Validation Report for {{ inventory_hostname }}</h2>

The following tests are run: 

<h3>get_facts</h3>
Checks that all the interfaces are present and that the correct hostname is configured.

Result: 
{%- for item in report.compliance_report if item == "get_facts" %}
<span style="color: ">{{ item }}</span>
{% endfor %}

{{ report.compliance_report.get_facts.complies }}

get_interfaces_ip
get_facts

Ping devices with same OSPF id (1 - PE2)
Ping devices with same OSPF id (1 - P1)
get_bgp_neighbors

</body>
</html>



