# Vars Validation Report
{# See testing/test_validate_input and the filter.py source for comments/docs. #}

## fabric.yml

### Fabric vars is properly defined
- hardware: {% if hardware|length > 0 and hardware|hardware_is_fully_defined() %}PASS{% else %}FAIL{% endif %}
- fabric_infrastructure: {% if fabric_infrastructure|length > 0 and fabric_infrastructure|fabric_is_fully_defined(hardware) %}PASS{% else %}FAIL{% endif %}
- fabric_customer: {% if fabric_customer|length > 0 and fabric_customer|fabric_is_fully_defined(hardware) %}PASS{% else %}FAIL{% endif %}
- mpbgp: {% if mpbgp|length > 0 and mpbgp|bgp_is_fully_defined() %}PASS{% else %}FAIL{% endif %}
- services: {% if services|length > 0 %}PASS{% else %}FAIL{% endif %}
- isp_nodes: {% if isp_nodes|length > 1 %}PASS{% else %}FAIL{% endif %}
- nodes: {% if nodes|length > 0 and nodes|nodes_is_fully_defined() %}PASS{% else %}FAIL{% endif %}

### Hardware is defined for all devices
- {% if hardware|merge_lists_from_list_of_dict('devices')|length > 0 and hardware|merge_lists_from_list_of_dict('devices')|subtract_list(nodes|get_all_node_names)|length == 0 %}PASS{% else %}FAIL{% endif %}

### All nodes are connected via fabric
- {% if nodes|nodes_not_in_fabric(fabric_infrastructure, fabric_customer)|length == 0 %}PASS{% else %}FAIL{% endif %}

### Each interface is only used once
- {% if (fabric_infrastructure + fabric_customer)|fabric_dict_to_tuples|unique_list|length == (fabric_infrastructure + fabric_customer)|length*2 %}PASS{% else %}FAIL{% endif %}

## services.yml

### Service vars is properly defined
- VPNV4: {% if VPNV4|length > 0 and VPNV4|vpnv4_is_fully_defined() %}PASS{% else %}FAIL{% endif %}

### No identical services
- {% if VPNV4|length == VPNV4|count_unique_entries_in_list_of_dicts() %}PASS{% else %}FAIL{% endif %}

## ip_addresses.yml

### IP vars is properly defined
- linknet.size: {% if linknet.size is defined and 8 <= linknet.size <= 31 %}PASS{% else %}FAIL{% endif %}
- linknet.fabric_linknets: {% if linknet.fabric_linknets|length > 0 and linknet.fabric_linknets|proper_linknets() %}
- linknet.available_subnets: {% if linknet.available_subnets|length > 0 and linknet.available_subnets|proper_linknets() %}PASS{% else %}FAIL{% endif %}

### Enough linknets for all fabric links
- {% if (fabric_infrastructure|length + fabric_customer|length) == linknet.fabric_linknets|length %}PASS{% else %}FAIL{% endif %}

--
Test run at {{ '%Y-%m-%d %H:%M:%S' | strftime }}
