<html>
<head>
<style>
table {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}
</style>
</head>
<body>
<h2>Basic Report</h2>
<p>A basic report showing <b>hostname</b>, <b>serial number</b>, <b>SW version</b> and <b>uptime</b> for devices in the lab</p>
<table>
    <tr>
        <th>Host</th><th>Hostname</th><th>Serial Number</th><th>SW Version</th><th>Uptime</th>
    </tr>
    {% for host in ansible_play_hosts %}
    <tr>
        <td>{{ host }}</td>
        <td>{{ hostvars[host]['napalm_hostname'] }}</td>
        <td>{{ hostvars[host]['napalm_serial_number'] }}</td>
        <td>{% set sw_comp = hostvars[host]['napalm_os_version'].split(',') %}{{ sw_comp[1] }}</td>
        <td>{{ hostvars[host]['napalm_uptime'] }} s</td>
    </tr>
    {% endfor %}
</table>

<p>IP addresses in use:</p>
napalm_interfaces_ip"

<table>
    <tr>
        <th>Host</th><th>Interface</th><th>IP Address</th><th>Mask</th>
    </tr>
    {% for host in ansible_play_hosts %}
    {% for interface in hostvars[host]['napalm_interfaces_ip'] %}
    <tr>
        {% if interface == hostvars[host]['napalm_interfaces_ip'][0] %}
        <td rowspan="{{ hostvars[host]['napalm_interfaces_ip']|length }}">{{ host }}</td>
        {% endif %}
        <td>{{ interface }}</td>
        <td>{{ hostvars[host]['napalm_interfaces_ip'][interface]['ipv4']|get_key }}</td>
        {% for ip in hostvars[host]['napalm_interfaces_ip'][interface]['ipv4'] %}
        <td>{{ hostvars[host]['napalm_interfaces_ip'][interface]['ipv4'][ip]['prefix_length'] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    
    {% endfor %}
</table>



<p>Report generated at {{ '%Y-%m-%d %H:%M:%S' | strftime }}</p>

</body>
</html>