<html>
<head>
</head>
<body>
<h2>OSPF neighbor</h2>
<p>A graph of the OSPF neighbors</p>

{% for host in ansible_play_hosts %}
{{ hostvars[host]['ospf_id'] }}:
{% for neighbor in hostvars[host]['ospf_neighbor'] %}
{{ neighbor['NEIGHBOR_ID'] }}
{% endfor %}

{% endfor %}

<p>Report generated at {{ '%Y-%m-%d %H:%M:%S' | strftime }}</p>

</body>
</html>