graph ospf {
{% with vectors = [] %}
{% for host in ansible_play_hosts %}
{% for neighbor in hostvars[host]['ospf_neighbor'] %}
    {% if (hostvars[host]['ospf_id'],neighbor['NEIGHBOR_ID']) not in vectors %}
    {{ vectors.append((hostvars[host]['ospf_id'],neighbor['NEIGHBOR_ID'])) }}
        "{{ hostvars[host]['ospf_id'] }}" -- "{{ neighbor['NEIGHBOR_ID'] }}"
    {% endif %}
    }
{% endfor %}
{% endfor %}
{% endwith %}
    }}
